@font-face {
  font-family: "B Koodak";
  src: url("./assets/fonts/B_Koodak.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 
.font-koodak {
  font-family: "B Koodak", sans-serif;
} */

.font-bKoodak.antialiased a {
  text-decoration: none;
}

body {
  font-family: "B Koodak", sans-serif;
  min-width: 615px;
}

@media (max-width: 615px) {
  body {
    overflow-x: auto; /* Allow scrolling if content is wider */
  }
}
