@font-face {
  font-family: "B Koodak";
  src: url("./assets/fonts/B_Koodak.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 
.font-koodak {
  font-family: "B Koodak", sans-serif;
} */

.font-bKoodak.antialiased a {
  text-decoration: none;
}

body {
  font-family: "B Koodak", sans-serif;
  min-width: 615px;
}

@media (max-width: 615px) {
  body {
    overflow-x: auto; /* Allow scrolling if content is wider */
  }
}
input:-webkit-autofill {
  background-color: transparent !important; /* Keeps the background transparent */
  -webkit-text-fill-color: white !important; /* Forces the text color */
  font-size: 25px !important; /* Adjusts font size */
  transition: background-color 5000s ease-in-out 0s; /* Prevents flash effect */
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  font-size: 25px !important;
}
